<div style="padding: 15px;">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter image url" aria-label="Recipient's username"
          aria-describedby="basic-addon2" [(ngModel)]="imageUrl">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="getColorCode()">Get Color Code</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    Color Code: {{colorCode}}
  </div>
</div>